/* HEADER */
.intro {
    height: 100vh;
}

/* NAV */
.intro {
    &__nav {
        background-color: #0a4070;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10vh;

        &-logo {
            width: 105px;
            height: 100%;
            background-color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .ez {
                color: black;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .english {
                color: #4f4f4f;
            }
        }

        &-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding: 0 20px;
        }

        &-link {
            padding: 6px 15px;
            cursor: auto;
            transition: all 0.2s linear;
            text-align: center;

            span {
                color: #cbbde2;
                font-size: 20px;
                cursor: pointer;
                transition: 0.2s linear color;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__main {
        background: url("../../assets/IMG_0212.JPG.jpg") center center no-repeat;
        width: 100%;
        height: 90vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-text {
            flex-basis: 50%;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            color: blue;
            padding: 0 30px;
            text-align: center;
        }
    }

    &__footer {
        background-color: #0a4070;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 60px 10px;

        &-item {
            background-color: #c7d0d8;
            border-radius: 5px;
            padding: 5px;
            transition: 0.2s linear background-color;

            &:hover {
                background-color: lightgoldenrodyellow;
            }

            span {
                text-transform: uppercase;
                font-size: 18px;
                color: #000;
            }
        }
    }
}

.learn {
    padding: 20px 10px;

    &__stats {
        display: flex;
        justify-content: space-between;
        padding: 50px 0 100px;

        &-item {
            display: flex;
            flex-basis: 33.33%;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            div {
                font-size: 25px;
                color: #000;
                text-align: center;
            }

            a {
                margin-bottom: 20px;

                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    &__start {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 50px;
        font-weight: bold;
        color: #2a2a2a;
        line-height: 70px;

        &-btn {
            text-align: center;
            background-color: #c7d0d8;
            padding: 15px 80px;
            color: #000;
            text-transform: uppercase;
            font-size: 25px;
            border-radius: 5px;
            transition: 0.2s linear background-color;

            &:hover {
                background-color: lightgreen;
            }

            &-wrapper {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        }
    }

    &__social {
        &-wrapper {
            padding: 100px 50px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &-text {
            text-transform: uppercase;
            color: #000;
            text-align: center;
            font-size: 25px;
            margin-bottom: 7px;
            padding: 0 20px;
        }

        &-img {
            display: flex;
            justify-content: space-between;
        }
    }
}

.contacts {
    padding: 30px 20px;
    background-color: #3c3c3c;

    div {
        color: #fff;
        text-align: center;
        font-size: 25px;
    }
}

.burger-menu {
    display: none;
}
