.test {
    background-color: lightgray;
    height: 100%;

    .container {
        padding: 0 15px;
        margin: 0 auto;
    }

    &__intro {
        h2 {
            text-align: center;
            padding: 10px;
        }

        p {
            padding: 5px 0;
            font-size: 18px;
        }

        div {
            padding-bottom: 10px;
        }

        button {
            padding: 10px 25px;
            text-align: center;
            display: block;
            margin: 0 auto;
            font-size: 20px;
            background-color: rgb(58, 238, 58);
            border-radius: 20px;
            border: none;
            color: white;
            cursor: pointer;
            opacity: 0.7;

            &:hover {
                background-color: rgb(0, 255, 0);
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__results {
        display: none;
        padding: 20px 0;

        h3 {
            font-size: 30px;
        }

        form {
            padding-bottom: 30px;

            button {
                color: #fff;
                background-color: #28a745;
                padding: 15px 60px;
                cursor: pointer;
                text-align: center;
                display: block;
                margin: 0 auto;
                border: none;
                font-size: 25px;
                font-weight: 700;
                border-radius: 5px;

                &:hover {
                    background-color: #218838;
                }
            }
        }
    }

    &__card {
        margin: 20px 0;

        .question {
            display: flex;
            align-items: center;
            margin: 10px 0;
            font-size: 18px;

            span {
                text-align: center;
                background-color: #212121;
                color: white;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                padding: 5px;
            }

            div {
                font-size: 25px;
                font-style: italic;
            }
        }

        &-option {
            border: 1px solid #0091ea;
            border-radius: 8px;
            width: 70%;
            padding: 16px;
            margin: 10px 0;
            font-size: 18px;
            display: flex;
            align-items: center;

            input[type="radio"]:checked ~ label {
                color: #0091ea;
                font-weight: bold;
            }

            label {
                flex: 1;
            }
        }
    }

    input[type="radio"]:checked,
    input[type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }

    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
    }

    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before {
        border-radius: 100%;
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #0091ea;
    }

    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
    }

    input[type="radio"]:checked + label:after {
        opacity: 1;
    }
}

/* FINAL RESULT */
.final {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.final__num {
    color: red;
}

.final button {
    padding: 10px 25px;
    text-align: center;
    display: block;
    margin: 15px auto 0;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.final button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.final button:focus {
    outline: none;
}
