.navbar {
    background-color: #0a4070;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;

    &__logo {
        width: 105px;
        height: 100%;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ez {
            color: black;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .english {
            color: #4f4f4f;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 0 20px;
    }

    &__link {
        padding: 6px 15px;
        cursor: auto;
        transition: all 0.2s linear;
        text-align: center;

        span {
            color: #cbbde2;
            font-size: 20px;
            cursor: pointer;
            transition: 0.2s linear color;

            &:hover {
                color: #fff;
            }
        }
    }
}
