.vocabulary {
    padding: 15px;

    form {
        text-align: center;
    }

    &__input {
        min-width: 400px;
        padding: 15px 20px;
        background-color: #ece7e7;
        font-size: 18px;
        border: none;
        border-radius: 50px;
        outline: none;
        font-size: 22px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
        }

        &:focus {
            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
        }
    }

    #searchForm input[type="submit"] {
        margin: 0px 20px;
        padding: 15px 30px;
        background-color: #03fcd7;
        color: rgba(117, 89, 89, 0.904);
        border: none;
        font-size: 20px;
        border-radius: 50px;
        outline: none;
        cursor: pointer;
    }

    #searchForm input[type="reset"] {
        padding: 15px 40px;
        background-color: #f3b786;
        color: #fff;
        border: none;
        font-size: 20px;
        border-radius: 50px;
        outline: none;
        cursor: pointer;
    }

    .translation {
        margin-top: 20px;

        h2 {
            display: none;
            font-size: 30px;
            margin-bottom: 10px;
        }

        &__result {
            list-style: none;
            padding: 10px;
            width: 33.333%;

            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-basis: 80%;

                audio:focus {
                    outline: none;
                }
            }

            li {
                font-size: 20px;
                margin: 5px 0;
            }
        }

        &__wrapper {
            display: flex;
            flex-basis: 100%;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }

        &__word {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 20%;
            padding: 10px;
            font-size: 30px;
            font-weight: bold;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
        }

        &__image {
            width: 100%;
            height: auto;

            &-wrapper {
                width: 33.333%;
            }
        }

        &__audio {
            display: flex;
            width: 33.333%;
            padding: 20px 10px;

            audio {
                width: 100%;
            }
        }
    }

    #searchForm h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
}
